.infotable {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

p {
    text-align: center;
    margin: 10;
}

h1{
    text-align: center;
}